node_modules
dist
.env
.env.local
*.log
.DS_Store
.turbo
.cache

# Prisma
apps/backend/prisma/migrations/*_*

# Build outputs
build
out

# VSCode debug profiles
.vscode/chrome-debug-profile
.vscode/edge-debug-profile

